doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    style.
        body {
            position: relative;
            min-height: 100vh;
            overflow-x: hidden;
        }
        .background-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }
        .background-image {
            width: 100%;
            height: 100%;
            background-image: url('/background/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(5px);
        }
        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .navbar {
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
            padding: 1rem 2rem;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 1; /* Bring the navbar above the background */
        }
        .title {
            position: absolute;
            left: 50%; /* Center horizontally */
            transform: translateX(-50%); /* Adjust for exact centering */
            color: #dc3545;
            font-size: 2rem; /* Adjust the font size as needed */
            z-index: 2; /* Ensure title is above navbar */
            top: 50%; /* Center vertically within the navbar */
            transform: translate(-50%, -50%); /* Adjust for exact centering */
            white-space: nowrap; /* Prevent line breaks */
        }
        .navbar .btn {
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
        }
        .navbar .btn:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: #343a40;
        }
        .btn {
            padding: 10px 15px;
            color: white;
        }
        .btn i {
            font-size: 1.5em;
        }
        @media (max-width: 576px) {
            .title {
                font-size: 1.5rem; /* Adjust title size for smaller screens */
            }
        }
.background-container
    .background-image
    .background-overlay
.container.mb-4
    // Top Navigation Bar
    nav.navbar.navbar-expand-lg.navbar-light
        .container.d-flex.justify-content-between
            // Dropdown for smaller screens
            .dropdown.d-lg-none
                button#dropdownMenuButton.btn.btn-outline-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Menu
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='about')
                        i.fas.fa-home
                        |  About
                    a.dropdown-item(href='beans')
                        i.fas.fa-user
                        |  Beans
            // Left Buttons with Icons for larger screens
            .btn-group.d-none.d-lg-block
                a.btn.btn-outline-secondary(href='about', role='button')
                    i.fas.fa-home
                a.btn.btn-outline-secondary(href='beans', role='button')
                    i.fas.fa-user
            // Title in Navbar
            .title Rods and Rotors
    // Products
    .row
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.lkperformance.co.uk/media/ProductImage/23393/image/resized/listing.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Audi RS4 18&quot; 9j Alloy
                    h6
                        | $399.99
                        del.text-muted.ml-2 $599.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.turbosmart.com/wp-content/uploads/2023/11/Turbo-category.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Turbosmart 1.9tdi pd130 turbo
                    h6
                        | $999.99
                        del.text-muted.ml-2 $1499.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://cdn11.bigcommerce.com/s-d05bdaopnr/images/stencil/original/x/jb-maxton-mk5-r32-5-21-19-13-1__89183.original.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Mk5 Golf R32 Rear Diffuser
                    h6
                        | $199.99
                        del.text-muted.ml-2 $399.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
    .row
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.lkperformance.co.uk/media/ProductImage/23393/image/resized/listing.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Audi RS4 18&quot; 9j Alloy
                    h6
                        | $399.99
                        del.text-muted.ml-2 $599.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.turbosmart.com/wp-content/uploads/2023/11/Turbo-category.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Turbosmart 1.9tdi pd130 turbo
                    h6
                        | $999.99
                        del.text-muted.ml-2 $1499.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://cdn11.bigcommerce.com/s-d05bdaopnr/images/stencil/original/x/jb-maxton-mk5-r32-5-21-19-13-1__89183.original.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Mk5 Golf R32 Rear Diffuser
                    h6
                        | $199.99
                        del.text-muted.ml-2 $399.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
    .row
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.lkperformance.co.uk/media/ProductImage/23393/image/resized/listing.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Audi RS4 18&quot; 9j Alloy
                    h6
                        | $399.99
                        del.text-muted.ml-2 $599.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://www.turbosmart.com/wp-content/uploads/2023/11/Turbo-category.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Turbosmart 1.9tdi pd130 turbo
                    h6
                        | $999.99
                        del.text-muted.ml-2 $1499.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
        .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.mt-4
            .card.shadow
                .card-body.text-center
                    h3.text-warning SALE!
                    a(href='#')
                        img.card-img-top(src='https://cdn11.bigcommerce.com/s-d05bdaopnr/images/stencil/original/x/jb-maxton-mk5-r32-5-21-19-13-1__89183.original.jpg', alt='')
                    a.text-reset(href='#')
                        h3.card-title.display-4 Mk5 Golf R32 Rear Diffuser
                    h6
                        | $199.99
                        del.text-muted.ml-2 $399.99
                    a.btn.btn-dark.my-2(href='#', role='button') Add to Cart
// FontAwesome for icons
script(src='https://kit.fontawesome.com/a076d05399.js', crossorigin='anonymous')
